html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "Roboto", "Open Sans", sans-serif;
}

body * {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: #000000;
  line-height: 1.42;
  box-sizing: border-box;

}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.it-container {
  max-width: 1036px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.it-container--big {
  max-width: 1246px;
}

.it-container * {
  box-sizing: border-box;
}

.it-all-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 24px;
  line-height: 1.5;
  position: relative;
  color: #4A4A4A;
  margin: 0;
  overflow: hidden;
  font-weight: 700;
  min-height: 2px;
}


.it-all-subtitle {
  font-size: 18px;
  padding-bottom: 40px;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}






/******************* it-form__success *******************/

.it-form__success {
  font-size: 18px;
  text-align: center;
  display: none;
  line-height: 1em;
  color: #5c5c5c;
}

.it-form--hide.success *:not(.it-form__success) {
  display: none;
}

.it-form--hide.success .it-form__success {
  display: block;
}


/******************* media *******************/

@media (max-width: 1200px) { /*desctop*/


}

@media (max-width: 992px) { /*laptop*/
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) { /* tablets*/
  html {
    font-size: 14px;
  }

  .it-container {
    max-width: 654px;
  }

  .it-container--big {
    max-width: 100%;
  }

  .it-all-title {
    padding-top: 50px;
    padding-bottom: 30px;
}


}

@media (max-width: 576px) { /*phones*/
  html {
    font-size: 13px;
  }

  .it-container {
    max-width: 338px;
  }

  .it-all-title {
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .it-all-subtitle {
    padding-bottom: 20px;
    font-size: 14px;
}

  .it-btn {
    padding: 11px 10px;
    font-size: 24px;
}

  .it-all--hide-mobile {
    display: none;
}

}
